@font-face {
    font-family: impact;
    src: url(fonts/impact.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Regular.ttf);
}

/* genral */

* {
    outline: none;
    box-sizing: border-box;
}

h1, p {
    margin: 0px;
}

body {
    margin: 0 auto;
    text-align: center;
    font-family: impact;
    background-color: #e3e3e3;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 353px);
    grid-template-rows: repeat(6, 278px);
    grid-gap: 21px;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

img {
    object-fit: cover;
}

/* nav */

.main-nav {
    background-color: #ff7f00;
    align-items: center;
}

.main-nav h1 {
    height: fit-content;
    width: fit-content;
    color: white;
    margin-left: 49px;
}

/* .main-nav ul {
    align-items: center;
} */

.main-nav ul li {
    color: white;
    display: flex;
    height: 66px;
    font-family: Montserrat;
    font-size: 19px;
    padding-left: 29px;
    justify-content: center;
    align-items: center;
}

nav ul li:hover {
    color: black;
    cursor: pointer;
}

.main-nav ul li:last-of-type {
    padding-right: 57px;
}

/* gallery */

.gallery-container {
    padding: 27px 50px;
}

.gallery-container img {
    height: 278px;
    width: 353px;
    object-fit: cover;
    border: solid 1px black;
}

.gallery-container img:hover {
    cursor: pointer;
}

/* model */

.model {
    z-index: 1;
    width: 90%; 
    height: 90%;
    display: none;
    margin: 26px 51px 135px 23px;
}

.canvas-container {
    width: 541px;
    height: 541px;
    margin-right: 99px;
}

input {
    display: block;
    width: 100%;
    border-radius: 12px;
    height: 60px;
    width: 373px;
    margin-bottom: 11px;
    font-size: 20px;
}

input:hover {
    cursor: pointer;
}

input::placeholder {
    font-family: impact;
    font-size: 20px;
}

input[type=text] {
    font-family: impact;
    font-size: 20px;
    padding-left: 20px;
}

.main-controllers {
    margin-bottom: 43px;
}

.controllers button {
    margin-right: 18px;
    border: none;
    border-radius: 12px;
    background-color: #fff;
}

.controllers button {
    cursor: pointer;
}

.controllers button img {
    width: 60px;
    height: 60px;
}

.change-visibility button {
    margin-bottom: 10px;
}

/* footer */
footer {
    color: #e3e3e3;
    background-color: #ff7f00;
    height: 207px;
    margin: 0px;
}

footer h1 {
    padding-top: 77px;
    margin-bottom: 16px;
}