@font-face {
    font-family: impact;
    src: url(fonts/impact.ttf);
}


body {
    margin: 0 auto;
    text-align: center;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-container img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border: solid 1px black;
    margin-bottom: 10px;
}

.model {
    z-index: 1;
    width: 90vw; /* Full width */
    height: 80vh; /* Full height */
    margin: 5%;
    display: none;
}

.canvas-container {
    width: 500px;
    height: 500px;
}

canvas {
    margin: 0 5px;
}

.controllers {
    width: 30%;
    margin: 0px;
}

input {
    width: 100%;
}

img {
    object-fit: cover;
}